.header {
  display: flex;
  width: 100%;
  padding: 10px 0px 10px 0px;
  
  
}
.bgcolor{
  background-color: black;
  
}

.searchbox{
  width: 50%;
  display: flex;
  justify-content: end;

}

.ImageDesign{
  width: 10%;


}

.productListContainer {
  display: flex;
}

